# opencv-python
torchsde
dynamicprompts
lpips
accelerate
diffusers
insightface
bitsandbytes
transformers>=4.28.1
tokenizers>=0.13.3
pyyaml
Pillow
psutil

py-cpuinfo
numpy==1.26.4
opencv-python
ultralytics-thop
seaborn
ultralytics==8.3.40
 
kornia>=0.7.1
spandrel

onnxruntime
torch
torchvision
torchaudio
einops
soundfile
scipy
tqdm
sentencepiece
safetensors>=0.4.2
aiohttp
piexif
groq
segment_anything
typing
blend_modes
matplotlib
